@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.bg-animated-gradient {
  background: linear-gradient(45deg, #ff6b6b, #f06595, #85e3ff, #6a5acd);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}